<div class="candidate__name" data-o-grid-colspan="5 S4 M3"><p>{{label}}</p><img class="headshot" src="images/{{headshot}}" alt=""></div>
<div class="bar-holder {{party}}" data-o-grid-colspan="5 S7 M8">
  <div class="candidate__bar candidate-bar-{{party}}" style="width:{{percent_difference}}%" ></div>
</div>
<div class="candidate__value" data-o-grid-colspan="2 S1">{{value}}</div>