<div class="candidate__name" data-o-grid-colspan="5 S4 M3">
  <p>{{label}}</p>
  <img class="headshot" src="images/{{headshot}}" alt=""/>
</div>
<div class="bar-holder {{party}}" data-o-grid-colspan="4 S6 M7">
  <div class="candidate__bar candidate__bar--{{party}}" style="width:{{percent_difference}}%" ></div>
  <div class="candidate__bar candidate__bar--{{party}}--superdel" style="width:{{percent_difference_superdel}}%" ></div>
</div>
<div class="candidate__value" data-o-grid-colspan="3 S2"><span class="deltotal">{{addCommas total}}</span>/{{addCommas totaldel}}</div>