<h1 class="headline"><div class="logo"><img src="images/logo.png" alt="US Election 2016"></div>{{options.title}}</h1>

  <!--<div class="main-image"><img src="images/{{options.mainpic}}" alt=""/></div> -->
<div class="intro">{{{linebreaks options.intro}}}</div>

<div class="share-links-holder">
  <div class="share-links">
    <ul>
      <li>
        <a class="share-links__link share-links__link--twitter" target="_blank" href="https://twitter.com/home?status={{options.twitterText}}">
          <span>Twitter</span>
        </a>
      </li>
      <li><a class="share-links__link share-links__link--facebook" target="_blank" href="{{options.facebookText}}">
        <span>Facebook</span>
        </a>
      </li>
      <li>
        <a class="share-links__link share-links__link--linked-in" target="_blank" href="{{options.linkedinText}}">
          <span>LinkedIn</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="video-wrapper o-grid-row">
  <div class="video-player" data-o-grid-colspan="12 M8 L6 XL4">
    <div class="video-container">
      <iframe width="590" height="331" src="https://www.youtube.com/embed/Bq7_WqTZpE0" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
<div class="content o-grid-row"></div>
