<h1 class="headline"><div class="logo"><img src="images/logo.png" alt="US Election 2016"></div>{{options.titleResults}}</h1>

  <!--<div class="main-image"><img src="images/{{options.mainpic}}" alt=""/></div> -->
<div class="intro">{{{linebreaks options.introResults}}}</div>
<div class="date"><span class="updated">UPDATED:</span> {{{formatdatedisplay options.datestamp}}}</div>

<div class="share-links-holder">
  <div class="share-links">
    <ul>
      <li>
        <a class="share-links__link share-links__link--twitter" target="_blank" href="https://twitter.com/home?status={{options.twitterTextResults}}">
          <span>Twitter</span>
        </a>
      </li>
      <li><a class="share-links__link share-links__link--facebook" target="_blank" href="{{options.facebookTextResults}}">
        <span>Facebook</span>
        </a>
      </li>
      <li>
        <a class="share-links__link share-links__link--linked-in" target="_blank" href="{{options.linkedinTextResults}}">
          <span>LinkedIn</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="results o-grid-row"></div>

